<nav>
	<div class="container">
		<span>Logo</span>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Hello</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Pour adulte</a>
				</li>
			</ul>		
	</div>
</nav>
