{% extends "layout.html.twig" %}

{% block title %}
	{{ parent() }}
	- Persons authorized
{% endblock %}

{% block content %}
	<ul> 
    {% for person in persons %}
        
		{% if person.age > 18 %}
			<li> {{ person.name }} </li>
		{% endif %}

    {% endfor %}
	</ul>
{% endblock %}
